:root {
  --md-sys-color-primary: 103 80 164;
  --md-sys-color-surface-tint: 103 80 164;
  --md-sys-color-on-primary: 255 255 255;
  --md-sys-color-primary-container: 234 221 255;
  --md-sys-color-on-primary-container: 79 55 139;
  --md-sys-color-secondary: 98 91 113;
  --md-sys-color-on-secondary: 255 255 255;
  --md-sys-color-secondary-container: 232 222 248;
  --md-sys-color-on-secondary-container: 74 68 88;
  --md-sys-color-tertiary: 125 82 96;
  --md-sys-color-on-tertiary: 255 255 255;
  --md-sys-color-tertiary-container: 255 216 228;
  --md-sys-color-on-tertiary-container: 99 59 72;
  --md-sys-color-error: 179 38 30;
  --md-sys-color-on-error: 255 255 255;
  --md-sys-color-error-container: 249 222 220;
  --md-sys-color-on-error-container: 140 29 24;
  --md-sys-color-background: 254 247 255;
  --md-sys-color-on-background: 29 27 32;
  --md-sys-color-surface: 254 247 255;
  --md-sys-color-on-surface: 29 27 32;
  --md-sys-color-surface-variant: 231 224 236;
  --md-sys-color-on-surface-variant: 73 69 79;
  --md-sys-color-outline: 121 116 126;
  --md-sys-color-outline-variant: 202 196 208;
  --md-sys-color-shadow: 0 0 0;
  --md-sys-color-scrim: 0 0 0;
  --md-sys-color-inverse-surface: 50 47 53;
  --md-sys-color-inverse-on-surface: 245 239 247;
  --md-sys-color-inverse-primary: 208 188 255;
  --md-sys-color-primary-fixed: 234 221 255;
  --md-sys-color-on-primary-fixed: 33 0 93;
  --md-sys-color-primary-fixed-dim: 208 188 255;
  --md-sys-color-on-primary-fixed-variant: 79 55 139;
  --md-sys-color-secondary-fixed: 232 222 248;
  --md-sys-color-on-secondary-fixed: 29 25 43;
  --md-sys-color-secondary-fixed-dim: 204 194 220;
  --md-sys-color-on-secondary-fixed-variant: 74 68 88;
  --md-sys-color-tertiary-fixed: 255 216 228;
  --md-sys-color-on-tertiary-fixed: 49 17 29;
  --md-sys-color-tertiary-fixed-dim: 239 184 200;
  --md-sys-color-on-tertiary-fixed-variant: 99 59 72;
  --md-sys-color-surface-dim: 222 216 225;
  --md-sys-color-surface-bright: 254 247 255;
  --md-sys-color-surface-container-lowest: 255 255 255;
  --md-sys-color-surface-container-low: 247 242 250;
  --md-sys-color-surface-container: 243 237 247;
  --md-sys-color-surface-container-high: 236 230 240;
  --md-sys-color-surface-container-highest: 230 224 233;
}
