:root {
  --md-sys-color-primary: 76 102 43;
  --md-sys-color-surface-tint: 76 102 43;
  --md-sys-color-on-primary: 255 255 255;
  --md-sys-color-primary-container: 205 237 163;
  --md-sys-color-on-primary-container: 16 32 0;
  --md-sys-color-secondary: 88 98 73;
  --md-sys-color-on-secondary: 255 255 255;
  --md-sys-color-secondary-container: 220 231 200;
  --md-sys-color-on-secondary-container: 21 30 11;
  --md-sys-color-tertiary: 56 102 99;
  --md-sys-color-on-tertiary: 255 255 255;
  --md-sys-color-tertiary-container: 188 236 231;
  --md-sys-color-on-tertiary-container: 0 32 30;
  --md-sys-color-error: 186 26 26;
  --md-sys-color-on-error: 255 255 255;
  --md-sys-color-error-container: 255 218 214;
  --md-sys-color-on-error-container: 65 0 2;
  --md-sys-color-background: 249 250 239;
  --md-sys-color-on-background: 26 28 22;
  --md-sys-color-surface: 249 250 239;
  --md-sys-color-on-surface: 26 28 22;
  --md-sys-color-surface-variant: 225 228 213;
  --md-sys-color-on-surface-variant: 68 72 61;
  --md-sys-color-outline: 117 121 108;
  --md-sys-color-outline-variant: 197 200 186;
  --md-sys-color-shadow: 0 0 0;
  --md-sys-color-scrim: 0 0 0;
  --md-sys-color-inverse-surface: 47 49 42;
  --md-sys-color-inverse-on-surface: 241 242 230;
  --md-sys-color-inverse-primary: 177 209 138;
  --md-sys-color-primary-fixed: 205 237 163;
  --md-sys-color-on-primary-fixed: 16 32 0;
  --md-sys-color-primary-fixed-dim: 177 209 138;
  --md-sys-color-on-primary-fixed-variant: 53 78 22;
  --md-sys-color-secondary-fixed: 220 231 200;
  --md-sys-color-on-secondary-fixed: 21 30 11;
  --md-sys-color-secondary-fixed-dim: 191 203 173;
  --md-sys-color-on-secondary-fixed-variant: 64 74 51;
  --md-sys-color-tertiary-fixed: 188 236 231;
  --md-sys-color-on-tertiary-fixed: 0 32 30;
  --md-sys-color-tertiary-fixed-dim: 160 208 203;
  --md-sys-color-on-tertiary-fixed-variant: 31 78 75;
  --md-sys-color-surface-dim: 218 219 208;
  --md-sys-color-surface-bright: 249 250 239;
  --md-sys-color-surface-container-lowest: 255 255 255;
  --md-sys-color-surface-container-low: 243 244 233;
  --md-sys-color-surface-container: 238 239 227;
  --md-sys-color-surface-container-high: 232 233 222;
  --md-sys-color-surface-container-highest: 226 227 216;
}
